/* signup and login css */
.auth-container {
    width: 40%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.auth-container input,
.auth-container select {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-container button {
    padding: 0.8rem;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #d62828;
}

.auth-container p {
    text-align: center;
    margin-top: 1rem;
}

.App {
    background-color: #ffb347;
    font-family: 'Times New Roman', Times, serif;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}