:root {
    --max-width: 1200px;
    --text-dark: #ffcc33;
}

.home-page {
    height:80vh;
    width: 100%;
    background-image: url('/src/assets/home.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 4.5%;
}

.overlay {
    height: 100%;
    width: 90%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}

.hero-content {
    max-width: 650px;
    background: linear-gradient(120deg, var(--accent-1), var(--accent-2));
    padding: 32px;
    padding-top: 0px;
    border-radius: 14px;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

.hero-title {
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 0px;
    min-height: 60px;
    color: #b88c06;
}



@media (max-width: 960px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-content {
        padding: 24px;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 1.5rem;
    }

    .hero-content {
        padding: 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 0.5;
        transform: translateY(0);
    }
}

.button {
    width: 4%;
    position: absolute;     
    bottom: 30px;          
    left: 50%;
    transform: translateX(-50%);
}

.login-btn {
    background-color: #237d32;
    border: none;
    color: rgb(223, 223, 221);
    padding: 12px 100%;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #2a903b;
}

.our-team-section {
    padding: 60px 20px;
    text-align: center;
}

.our-team-section h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.team-subtitle {
    font-size: 0.95rem;
    color: #777;
    max-width: 600px;
    margin: 0 auto 40px;
}

.team-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-items: center;
}


.team-card {
    background: #8a8b8a5e;
    width: 250px;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card img {
    width: 200px;
    height: 250px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-card h3 {
    font-size: 1.2rem;
    margin: 5px 0;
}

.role {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.desc {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

.social-icons svg {
    font-size: 18px;
    margin: 0 8px;
    color: #ff6b6b;
    cursor: pointer;
    transition: 0.2s;
}

.social-icons svg:hover {
    color: #ff4040;
}
