.navbar {
    width: 90%;
    padding: 10px 6%;
    background: rgba(19, 16, 16, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo span {
    color: #ba1010;
    font-size: 1.6rem;
    font-weight: 700;
}

.nav-links a {
    width: 50%;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #fdc313;
}

.link{
 margin-right: 24px;
}